{% load crispy_forms_tags %}
        {{ formset.management_form|crispy }}
        {{ formset.non_field_errors }}
        {% for form in formset.forms %}
        {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        {% endif %}
        <div class="formset_row-{{ formset.prefix }}">
            <div class='row'>
            <div class='col-10'>
            {{ form.id }}
            <div class="inline {{ formset.prefix }}">
                {% for field in form.visible_fields %}
                        {% if field.name != "DELETE" %}
                        <div>
                            {{ field|as_crispy_field }}
                            <div class="form-error">{{ field.errors.as_ul }}</div>
                        </div>
                        {% endif %}
                {% endfor %}
            </div>
            </div>
                {% if formset.can_delete %}
                <div class='col-2'>{{ form.DELETE }}</div>
                {% endif %}
            </div>
        </div>
        {% endfor %}

<script type="text/javascript">
$('.formset_row-{{ formset.prefix }}').formset({
    addText: 'Добавить',
    deleteText: 'Удалить',
    addCssClass: 'add-row_{{ formset.prefix }} btn btn-info',
    deleteCssClass:' delete-row btn btn-danger',
    deleteContainerClass: 'col-2',
    prefix: '{{ formset.prefix }}',
    formCssClass: 'formset_row-{{ formset.prefix }}',
});
</script>