    <a class="navbar-toggler text-light" style="border: 2px solid #E0E0E0; margin-right: 1rem;" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto" >
        {% for m in menu %}
          {% if not m.sub_menu %}
          <li class="nav-item ">
          <a class="nav-link active" aria-current="page" href="{% url m.url_name %}">{{ m.title }}</a>
          </li>
          {% endif %}
          {% if m.sub_menu %}
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="{% url m.url_name %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ m.title }}
          </a>
              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
            {% for sm in m.sub_menu %}
            <li><a class="dropdown-item " href="{% url sm.url_name %}">{{ sm.title }}</a></li>
            {% endfor %}
              </ul>
          </li>
          {% endif %}
       {% endfor %}
        </ul>
    </div>
