{% extends 'list/base.html' %}
{% load crispy_forms_tags %}
{% load list_tags %}

{% block link %}
{% endblock %}


{% block leftsidebar %}
<form action="" method="get">
   {% crispy filtered_per.form filtered_per.helper%}
   <button type="submit" class="btn btn-sm btn-outline-secondary">Поиск</button>
</form>
{% endblock %}

{% block content %}

<h2>Список объектов для добавления</h2>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" name="add" value="Добавить объекты" class="btn btn-sm btn-outline-secondary"/>
        <input type="hidden" name="year_per" value="{{year_per}}">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th><input type="checkbox" id="select_all" onclick="toggleChecked(this.checked)"></th>
              <th>Кадастровый номер</th>
              <th>Адрес</th>
              <th>Тип объекта</th>
            </tr>
          </thead>
          <tbody>
            {% for o in page_obj %}
            <tr>
                <td>
                    {{ forloop.counter|adjust_for_pagination:page_obj.start_index }}
                </td>
                <td><input type="checkbox" name="item" class="checkobj" value="{{o.pk}}"></td>
                <td><a href="{{ o.get_absolute_url }}">{{o.cad_num}}</a></td>
                <td>{{o.adr_oks|truncatewords:8}}</td>
                <td>{{o.tip_oks}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    <input type="submit" name="add" value="Добавить объекты" class="btn btn-sm btn-outline-secondary"/>
    </form>
<script type="text/javascript">
    function toggleChecked(status) {
        $('.checkobj').each(function() {
            $(this).attr("checked",status);
        })
    }
</script>
{% endblock %}

{% block paginator %}
        <div class="container-fluid">
        <div class="row">
        <div class="col">

            Показано {{ page_obj.start_index }}-{{ page_obj.end_index }} из {{ page_obj.paginator.count }}
        </div>
            {% if page_obj.has_other_pages %}
            <div class="col">
                <p class="text-end">
                    {% if page_obj.has_previous %}
                    <a href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}" class="btn btn-sm shadow-none"><</a></li>
                    {% else %}
                    <a href="" class="btn btn-sm disabled"><</a>
                    {% endif %}
                    {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                    <a class="btn btn-sm btn-outline-secondary">{{ p }}</a>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <a href="{% my_url p 'page' request.GET.urlencode %}" class="btn btn-sm shadow-none" >{{ p }}</a>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <a href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}" class="btn btn-sm shadow-none">></a>
                     {% else %}
                    <a href="" class="btn btn-sm disabled">></a>
                    {% endif %}
                </p>
            </div>
            {% endif %}
            </div>
        </div>



{% endblock %}

