{% extends 'list/base.html' %}
{% load crispy_forms_tags %}

{% block link %}
<script src="{% static 'list/js/jquery.formset.js' %}"></script>
<style type = "text/css">
#holder.hover { border: 5px dashed #0c0 !important; }
#holder {
justify-content: center;
align-items: center;
position: relative;
right:0px;
width:100%;
height:100px;
border: 5px dashed #ccc
}
.parent {  display: flex; text-align: center;}
</style>
{% endblock %}





{% block leftsidebar %}
<div id="holder" >
	<div class="position-absolute top-50 start-50 translate-middle">Брось сюда</div><input type="file"  id="input_file" style="opacity: 0.0; position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height:100%;" onchange="showFile(this)"/>
</div>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm text-start">
      <h2 class="text-start">Редактирование объекта</h2>
    </div>
    <div class="col-sm text-end my-auto">
      <a href="/export_word/{{object.pk}}" class="btn btn-primary btn-sm" >Создать протокол</a>
    </div>
  </div>
</div>
      <form action="" method="post" enctype="multipart/form-data">
          {% crispy form %}
          <button type="submit" class="btn btn-sm btn-outline-secondary" id="submit-id-submit">Редактировать</button>
</form>


<script src="{% static 'list/js/jquery.oks.js' %}"></script>
{% endblock %}