{% extends 'list/base.html' %}
{% load crispy_forms_tags %}

{% block link %}
<script src="{% static 'list/js/jquery.formset.js' %}"></script>
<style type = "text/css">
#holder.hover { border: 5px dashed #0c0 !important; }
#holder {
justify-content: center;
align-items: center;
position: relative;
right:0px;
width:100%;
height:100px;
border: 5px dashed #ccc
}
.parent {  display: flex; text-align: center;}
</style>
{% endblock %}


{% block centrbar %}
{% if edit_oks %}
<div class="navbarCentr">
<ul >


<li>
<a href="/export_word/{{object.pk}}" class="nav-link active text-white">
<svg width="24" height="24" fill="currentColor" fill="currentColor" class="bi bi-filetype-xml" viewBox="0 0 16 16">
  <path d="M5.485 6.879a.5.5 0 1 0-.97.242l1.5 6a.5.5 0 0 0 .967.01L8 9.402l1.018 3.73a.5.5 0 0 0 .967-.01l1.5-6a.5.5 0 0 0-.97-.242l-1.036 4.144-.997-3.655a.5.5 0 0 0-.964 0l-.997 3.655L5.485 6.88z"/>
  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
</svg>
<span class="for-large-screens">
Создать протокол
</span>
</a>
</li>
</ul>
</div>
{% endif %}
{% endblock %}



{% block leftsidebar %}
<div id="holder" >
	<div class="position-absolute top-50 start-50 translate-middle">Брось сюда</div><input type="file"  id="input_file" style="opacity: 0.0; position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height:100%;" onchange="showFile(this)"/>
</div>
{% endblock %}


{% block content %}
<h2>{{ title }}</h2>
      <form action="" method="post" enctype="multipart/form-data">
          {% crispy form %}
          {% if edit_oks %}
          <button type="submit" class="btn btn-sm btn-outline-secondary" id="submit-id-submit">Редактировать</button>
          {% else %}
          <input type="submit" name="add_and_per" value="Сохранить и добавить в перечень" class="btn btn-sm btn-outline-secondary" id="submit-id-submit">
          <input type="submit" name="add_and_next" value="Сохранить и добавить еще объект" class="btn btn-sm btn-outline-secondary" id="submit-id-submit2">
          {% endif %}

</form>


<script src="{% static 'list/js/jquery.oks.js' %}"></script>
{% endblock %}